$("#putBtn").on("click", function() {
var boardNo = $("#boardNo");
var title = $("#title");
var content = $("#content");
var writer = $("#writer");

var boardNoVal = boardNo.val();
var titleVal = title.val();
var contentVal = content.val();
var writerVal = writer.val();

var boardObject = {
boardNo : boardNoVal,
title : titleVal,
content: contentVal,
writer : writerVal
};

$.ajax({
type:"put",
url:"/board/" + boardNoVal,
data: JSON.stringify(boardObject),
contentType: "application/json; charset=utf-8",
success:function(result){
console.log("result: " + result);
if(result==="SUCCESS"){
alert("SUCCESS");
}
}
});
});