<div class="h_group ">
    <h1 class="top_logo">
        <a href="/static"><span class="blind">행복아이씨티 로고</span></a>
    </h1>
    <!-- // top_logo -->
    <div class="nav_area">
        <button type="button" class="navbar_toggle" title="Menu">
            <span class="blind">전체메뉴 열기</span>
            <div class="menu_bar">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>
        <div class="nav">
            <nav class="nav_hide" data-lenis-prevent>
                <div class="nav_wrap">
                    <div id="gnb">
                        <ul class="menu-parent">
                            <li class="menu-child">
                                <a href="#">
                                    소개하다
                                    <span class="arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="/company/intro.do">개요</a></li>
                                    <li><a href="/company/history.do">연혁</a></li>
                                    <li><a href="/company/organization.do">조직구성</a></li>
                                    <li><a href="/company/clientList.do">고객사</a></li>
                                    <li><a href="/company/map.do">오시는 길</a></li>
                                    <li><a href="/company/contact.do">문의하기</a></li>
                                </ul>
                            </li>
                            <li class="menu-child">
                                <a href="#">
                                    함께 일하다
                                    <span class="arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="/business/service.do">IT서비스</a></li>
                                    <li><a href="https://slf.happyict.co.kr/" target="_blank" title="새 창 열림">ICT솔루션</a></li>
                                    <li><a href="/business/employment.do">취약계층 고용</a></li>
                                    <li><a href="/business/education.do">장애인 IT육성ㆍ교육</a></li>
                                    <li><a href="/business/contribution.do">IT사회공헌</a></li>
                                </ul>
                            </li>
                            <li class="menu-child">
                                <a href="#">
                                    만들다
                                    <span class="arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="/portfolio/portfolio.do">포트폴리오</a></li>
                                </ul>
                            </li>
                            <li class="menu-child">
                                <a href="#">
                                    전하다
                                    <span class="arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="/happystory/happystoryList.do">행복이야기</a></li>
                                    <li><a href="/happystory/recruit.do">상시채용</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- // gnb -->
                    <ul class="link_ul">
                        <li>
                            <a href="/company/contact.do">
                                문의하기
                                <div class="bg-video">
                                    <video class="bg-video-content" src="/resources/video/gnb_video_01.mp4" muted autoplay loop playsinline></video>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/resources/pdf/Happyict_Company_Brief_2024_v6.0.pdf" target="_blank" title="행복ICT 회사소개서 PDF 열기(새창)">
                                회사소개서
                                <div class="bg-video">
                                    <video class="bg-video-content" src="/resources/video/gnb_video_02.mp4" muted autoplay loop playsinline></video>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- // nav -->
        </div>
    </div>
    <!-- // nav_area -->
</div>
<!-- // h_group -->