<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="container" th:fragment="Header">
    <div class="logo"><a href="#">LOGO</a></div>
    <ul class="gnb">
        <li><a href="#">메뉴1</a>
            <ul class="submenu">
                <li><a href="#">서브1</a></li>
                <li><a href="#">서브2</a></li>
            </ul>
        </li>
        <li><a href="#">메뉴2</a>
            <ul class="submenu">
                <li><a href="#">서브1</a></li>
                <li><a href="#">서브2</a></li>
            </ul>
        </li>
        <li><a href="#">메뉴3</a>
            <ul class="submenu">
                <li><a href="#">서브1</a></li>
                <li><a href="#">서브2</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- // h_group -->

<div th:fragment="Footer">
    <h1>공통 영역 2</h1>
</div>

</html>