<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Board</title>
</head>
<body>
	<h3>Form Home</h3>

	<form th:action="@{/board/register}">
		<input type="submit" value="register(GET)">
	</form>

	<form th:action="@{/board/register}" method="post">
		<input type="submit" value="register(POST)">
	</form>

	<form th:action="@{/board/modify}">
		<input type="submit" value="modify(GET)">
	</form>

	<form th:action="@{/board/modify}" method="post">
		<input type="submit" value="modify(POST)">
	</form>

	<form th:action="@{/board/remove}" method="post">
		<input type="submit" value="remove(POST)">
	</form>

</body>
</html>